.footer {
    align-items: center;
    background: #c4c4c4;

}
.topLine {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 42px 0 35px 0;
}
.middleLine {
    display: flex;
    justify-content: center;
    gap: 19px;
    margin: 0 auto;
    padding: 0 0 44px 0;
}
.bottomLine {
    display: flex;
    justify-content: center;
    background: #555555;
    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 161.2%;
        color: rgba(255, 255, 255, 0.63);
        padding: 13px;

    }
}