.titlePage {
    max-width: 457px;
}
.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 161.2%;
    color: #686868;
    margin-bottom: 0.6em;

}
.description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 161.2%;
    color: #ACACAC;

}